<div class="footer-container">
    <!-- Get In Touch Section -->
    <div class="getTouch text-start">
      <h3>Get In Touch</h3>
      <nav>
        <ul class="Ul list-unstyled">
          <li class="Li" id="linkedin">
            <a href="https://www.linkedin.com/in/abdelazizmgohar/" target="_blank">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
          <li class="Li" id="github">
            <a href="https://github.com/AbdelaziizGohaar" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  
    <!-- Contact Us Section -->
    <div class="contact text-center">
      <button class="btn btn-primary">Contact Us</button>
    </div>
  
    <!-- Logos and Copyright Section -->
    <div class="logos text-end">
      <nav>
        <ul class="Ul list-unstyled d-flex justify-content-end">
          <li class="Li mx-2" id="linkedin">
            <a href="https://www.linkedin.com/in/abdelazizmgohar/" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li class="Li mx-2" id="github">
            <a href="https://github.com/AbdelaziizGohaar" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li class="Li mx-2" id="twitter">
            <a href="https://github.com/AbdelaziizGohaar" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
        </ul>
      </nav>
      <h3>© 2019 CopyRights</h3>
    </div>
  </div>
  