<div class="d-flex justify-content-center mt-4">
    <div class="input-group" style="max-width: 500px; width: 100%;">
      <input
        type="text"
        class="form-control"
        placeholder="Search here..."
        aria-label="Search input"
      />
      <!-- <button class="btn btn-outline-primary" (click)="handlesearch(usersinfo.email)"> -->
      <button class="btn btn-outline-primary" type="button" >
        Search
      </button>
    </div>
  </div>



  <div class="container my-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for(userinfo of usersinfo; track userinfo.id){

   <app-useritem [userinfo]="userinfo"> </app-useritem>
  }
</div>
</div>

  
  