<div class="bio">
<h1>About me</h1>
<p>🌟 Junior Computer Engineer 
    I am a Junior Software Engineer with 1 year of experience in the ERP industry 
    passionate about innovating and implementing cutting-edge software solutions that drive business efficiency and streamline operations.
</p>
<p>💡 What Drives Me:
     I thrive on solving complex challenges and leveraging technology to create impactful solutions. My goal is to contribute to building smarter,
     more efficient systems that empower businesses to achieve their objectives.
</p>
<p> 
    📚 Continuous Learning:
   I stay updated with the latest trends and advancements in software development,
    ensuring my skills and knowledge remain sharp and relevant in an ever-evolving tech landscape.
</p>

<!-- <a href="public/Abdelaziz_Gohar_CV.pdf" class="btn" download="Abdelaziz_Gohar_CV.pdf">
    Download CV <i class="fa-solid fa-download"></i>
</a>
<br> -->

<a href="public/Abdelaziz_Gohar_CV.pdf" class="btn" download>
    <button type="button">
        Download CV <i class="fa-solid fa-download"></i>
    </button>
</a>


</div>