ol {
    padding-left: 20px;
    list-style-type: decimal;
  
  }
  
  li {
    padding: 5px 10px;
    background: #11d421;
    margin: 5px 0;
    border-radius: 4px;
    min-width: 100px;
    font-style:italic;
    font-size: medium;
    color: rgb(6, 9, 12);
  }
  h3{
    padding: 10px;
    margin: 0 0 10px 0;
  }
  .c {
    text-decoration-line: line-through; 
    color: rgb(129, 122, 122);
  }
  button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    box-sizing: border-box;
    font-style: italic;
    font-size: medium;
    color: rgb(253, 251, 251);
    font-weight: bold;
    background-color: #f80c0c;
  }
  