
<div class="container my-5">
    <h2>Login Form</h2>
    <hr />
    <form #LoginForm="ngForm" (ngSubmit)="handleFormSubmit(LoginForm)">
      <div class="mb-3">
        <label for="email-name" class="form-label">Email Adress</label>
        <input
          type="text"
          class="form-control"
          id="email-name"
          name="emailName"
          [(ngModel)]="formValues.emailName"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" 
          #emailName="ngModel"
        />
        @if(emailName.invalid && emailName.touched) {
            @if(emailName.errors?.['required']) {
              <div id="mailHelp" class="form-text text-danger">Email is required.</div>
            }
            @else if (emailName.errors?.['pattern']) {
              <div id="mailHelp" class="form-text text-danger">Invalid email format.</div>
            }
          }
      </div>
      <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input
        type="password"
          class="form-control"
          id="Password"
          name="Password"
          [(ngModel)]="formValues.Password"
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{10,}$" 
          #Password="ngModel"
          required
          minlength="10"
        >
        @if (Password.invalid && Password.touched) {
            @if (Password.errors?.['required']) {
              <div id="recipeHelp" class="form-text text-danger">Password is required.</div>
            }
            @else if (Password.errors?.['pattern']) {
              <div id="recipeHelp" class="form-text text-danger">
                Password must contain at least 10 characters, including letters and numbers.
              </div>
            }
          }
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="LoginForm.invalid">
        Login
      </button>
    </form>

    <p>Already have an account? 
        <a routerLink="/User-register" routerLinkActive="active-link" class="text-primary">
          Register
        </a>
      </p>
      
  </div>
  